/**
 * Single Episode Page
 */

@use "../base/variables" as *;

.single-episodes {
	.wp-block-embed iframe {
		width: 645px;
		height: 380px;
	}

	// Remove bottom margin from columns blocks
	// Note: !important needed to override WordPress core styles
	/* stylelint-disable declaration-no-important */
	.wp-block-columns {
		margin-bottom: 0 !important;
	}
	/* stylelint-enable declaration-no-important */
}
