/**
 * Single Episode Page
 */

@use "../base/variables" as *;

.single-episodes {
	.wp-block-embed iframe {
		width: 645px;
		height: 380px;
	}

	.wp-block-post-content {
		background-color: var(--wp--preset--color--elevated-surface);
		padding: $spacing-xl;
		border-radius: $border-radius-md;
		border-left: 4px solid var(--wp--preset--color--warm-magenta);
	}
}
