/**
 * Accessibility
 */

// Focus States
*:focus-visible {
	outline: 2px solid var( --wp--preset--color--terminal-blue );
	outline-offset: 2px;
}

// Selection Highlight
::selection {
	background-color: var( --wp--preset--color--terminal-blue );
	color: var( --wp--preset--color--deep-base );
}

::-moz-selection {
	background-color: var( --wp--preset--color--terminal-blue );
	color: var( --wp--preset--color--deep-base );
}
