/**
 * Footer
 */

footer.wp-block-template-part {
	background-color: var( --wp--preset--color--deep-base );
	color: var( --wp--preset--color--muted-text );
}

// Social links in footer
footer .wp-block-social-links {
	gap: 0;

	a {
		width: 48px;
		height: 48px;

		&:hover {
			color: var( --wp--preset--color--link-blue );
		}
	}

	svg {
		width: 32px;
		height: 32px;
	}
}
