/**
 * Footer
 */

footer.wp-block-template-part {
	background-color: var(--wp--preset--color--deep-base);
	border-top: 2px solid var(--wp--preset--color--border);
	color: var(--wp--preset--color--muted-text);
}
